AZURE_STORAGE_CONNECTION_STRING=DefaultEndpointsProtocol=https;AccountName=ghstoragepltc;AccountKey=745546c1-218e-4260-80d7-208267004092745546c1-218e-4260-80d7-208267004092==;EndpointSuffix=core.windows.net
AZURE_STORAGE_CONTAINER=databackup